<div class="tabla container">
    <h2>Tabla</h2>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
      <ng-container matColumnDef="Nombre">
        <mat-header-cell *matHeaderCellDef> Nombre del curso </mat-header-cell>
        <mat-cell *matCellDef="let curso"> {{curso.nombre}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Horas">
        <mat-header-cell *matHeaderCellDef> Numero de horas </mat-header-cell>
        <mat-cell *matCellDef="let curso"> {{curso.numeroDeHoras}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Cedula">
        <mat-header-cell *matHeaderCellDef> cedula Profesor </mat-header-cell>
        <mat-cell *matCellDef="let profesor"> {{profesor.cedula}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Profesor">
        <mat-header-cell *matHeaderCellDef> Nombre Profesor </mat-header-cell>
        <mat-cell *matCellDef="let profesor"> {{curso.nombre}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Accion">
        <mat-header-cell *matHeaderCellDef> Accion </mat-header-cell>
        <mat-cell *matCellDef="let curso">
          <!--ngClass se utiliza para agregar clases dinamicamente en funcion de una condicion para agregar css al boton de la fila que va hacer editada con la
          condicion de que selectedcurso sea igual a el curso-->
          <button class="botonT btn btn-outline-primary" (click)="incribir(curso)">Inscribirse</button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <span *ngIf="listadoCursoWS.length == 0">
      No existen contactos
  </span>
  </div>
