<div class="registro">
    <div class="fondo">
        <img class="img-fluid" src="../assets/imagenes/online-education.png" alt="centro">
    </div>
    <h1 class="titulo">Registrar Profesor</h1>
    <div class="formulario">
        <div class="ced-nom-ape-cor">
            <label class="form-label" for="txtNombre"><span>Cedula</span></label>
            <input type="text" id="txtCedula" [(ngModel)]="profesor.cedula" placeholder="0101111111" required>
            <label class="form-label" for="txtNombre"><span>Nombre</span></label>
            <input type="text" id="txtNombre" [(ngModel)]="profesor.nombre" placeholder="Juan" required>
            <label class="form-label" for="txtApellido"><span>Apellido</span></label>
            <input type="text" id="txtApellido" [(ngModel)]="profesor.apellido" placeholder="Perez" required>
            <label class="form-label" for="txtCorreo"><span>Correo</span></label>
            <input type="text" id="txtCorreo" [(ngModel)]="profesor.correo" placeholder="Example@correo.com" required>
        </div>
        <div class="con-cel-dir-bot">
            <label class="form-label" for="txtCorreo"><span>Contraseña</span></label>
        <input type="password" id="txtContraseña" [(ngModel)]="profesor.contrasena" placeholder="*********" required>
        <label class="form-label" for="txtCelular"><span>Celular</span></label>
        <input type="text" id="txtCelular" [(ngModel)]="profesor.celular" placeholder="0999999999" required>
        <label class="form-label" for="txtDireccion"><span>Direccion</span></label>
        <input type="text" id="txtDireccion" [(ngModel)]="profesor.direccion" placeholder="Direccion 1" required>
        <div><button class="btn btn-outline-primary" (click)="guardarWS()">Registrarse</button></div>
        </div>
    </div>
</div>
<div *ngIf="tabla" class="tabla container">
    <h2>Tabla</h2>
    <mat-table [dataSource]="dataSource" class="mat-elevation-z8" >
      <ng-container matColumnDef="Cedula"  >
        <mat-header-cell  *matHeaderCellDef> Cedula </mat-header-cell>
        <mat-cell *matCellDef="let profesor"> {{profesor.cedula}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Nombre">
        <mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
        <mat-cell *matCellDef="let profesor"> {{profesor.nombre}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Apellido">
        <mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
        <mat-cell *matCellDef="let profesor"> {{profesor.apellido}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Celular">
        <mat-header-cell *matHeaderCellDef> Celular </mat-header-cell>
        <mat-cell *matCellDef="let profesor"> {{profesor.celular}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Correo">
        <mat-header-cell *matHeaderCellDef> Correo </mat-header-cell>
        <mat-cell *matCellDef="let profesor"> {{profesor.correo}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Direccion">
        <mat-header-cell *matHeaderCellDef> Direccion </mat-header-cell>
        <mat-cell *matCellDef="let profesor"> {{profesor.direccion}} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="Accion">
        <mat-header-cell *matHeaderCellDef> Accion </mat-header-cell>
        <mat-cell *matCellDef="let profesor">
          <button class="botonT btn btn-outline-primary" [ngClass]="{ 'selected-row': profesor === selectedProfesor }" (click)="editarWS(profesor)">Editar</button>
          <button class="botonT btn btn-outline-primary" (click)="borrarWS(profesor)">Borrar</button>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <span *ngIf="listadoProfesorWS.length == 0">
      No existen contactos
  </span>
  </div>